
 #todo{
    display: block;
    margin-bottom: 5px;
    width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  transition: all .5s ease-in-out;
 
 }

 .date{
    display:inline-flex;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
  }

   .date div {
    margin-top: 10px;
  }
#btn-create {

    
    color:rgb(110, 40, 40);
   border-radius: 10px;
   animation: backInLeft;
   animation-duration: 2s; /* don't forget to set a duration! */
}
.btn-edit{
    
    padding :10px; 
    padding-bottom:10px ;
    margin-right: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    border-style:hidden;
    animation: bounceInRight;
   animation-duration: 1s; /* don't forget to set a duration! */
  
}


.btn-del{
    
    padding :10px; 
    padding-bottom:10px ;
    margin-right: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    border-style:hidden;
    animation: bounceInRight;
   animation-duration: 2s; /* don't forget to set a duration! */

   
    
}

.btn-vld{
    
    padding :10px; 
    padding-bottom:10px ;
    margin-right: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    border-style:hidden;
    animation: bounceInRight;
   animation-duration: 3s; /* don't forget to set a duration! */
}

/*#btn-save{
   background-color: rgb(224, 185, 134);
    color:rgb(110, 40, 40);
   border-radius: 10px;
   animation: backInUp;
   animation-duration: 2s; /* don't forget to set a duration! 

}*/

#btn-search{
    display:inline;
    background-color: rgb(224, 185, 134);
    color:rgb(110, 40, 40);
   border-radius: 10px;
   animation: backInRight;
   animation-duration: 2s; /* don't forget to set a duration! */
}


span{
    
    padding :10px; 
    padding-bottom:7px ;
     margin-right: 7px;
     margin-bottom: 7px;
    border-radius: 10px;
    border-style:hidden;
    border: solid #38D08A;
    animation: lightSpeedInRight;
    animation-duration: 1s;
   
}

.icone-delete{
    background-color: red;
}